<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--Stylesheet-->
<link rel="stylesheet" href="/css/home.css">
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- font awesone -->
<link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
</head>
<body>
   <header>
    <div class="flex">
       <img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
    </div> 
   <div class="alinear">
    <form id="search-bar" action="">
    <input type="text" placeholder="Buscar productos, marcas">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>
</div>

<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
       <nav>
        <ul id="list">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
           <ul class="menu-top">              
            <li><a href="#">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
           </ul>
       </nav>
       <div class="burger-menu">
         <i class="fas fa-bars"></i>
       </div>

   </header>
   <div>
    <img src="images/img-home-banner.jpg" width="100%" class="banner" alt="Imagen con ofertas">
   </div>
   <main class="home">
    <section>
        <h3 class="section-title">Basado en tu ultima visita</h3>
        <article class="card">
            <div class="filaIzq">
            <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="imagen de la cafetera">
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$6.770</p>
                <p>40% OFF</p>
            </div>      
            <h5 class="product-name">Cafetera Moulinex</h5>
        </article>
        <article class="card">
            <div>
                <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$230.00</p>
                <p>20% OFF</p>
            </div>      
            <div>
            <h5 class="descripcion">MacBook Pro 2019</h5>
        </div>
        </article>
        <article class="card">
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
            </div>
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$70.500</p>
                <p>10% OFF</p>
            </div>      
            <div>
            <h5 class="descripcion">Samsung Galaxy S10</h5>
        </div>
        </article>
        <article class="card">
            <div>
                <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$23.200</p>
                <p>5% OFF</p>
            </div>      
            <div>
            <div>
            <h5 class="descripcion">SmartTv Samsung 43"</h5>
        </div>
        </article>
    </section>
</div>
    <section>
        <h3 class="section-title">Sección de Ofertas</h3>
        <article class="card">
            <div class="filaDer">
            <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="imagen de la cafetera">
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$6.770</p>
                <p>40% OFF</p>
            </div>      
            <h5 class="product-name">Cafetera Moulinex</h5>
        </article>
        <article class="card">
            <div>
                <img src="images/img-macbook-pro-2019.jpg" width="100%" alt="imagen de MacBook">
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$230.00</p>
                <p>20% OFF</p>
            </div>      
            <div>
            <h5 class="descripcion">MacBook Pro 2019</h5>
        </div>
        </article>
        <article class="card">
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="imagen del Samsung Galxy">
            </div>
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$70.500</p>
                <p>10% OFF</p>
            </div>      
            <div>
            <h5 class="descripcion">Samsung Galaxy S10</h5>
        </div>
        <article class="card">
            <div>
                <img src="images/img-tv-samsung-smart.jpg" width="100%" alt="imagen del SmartTv">
            </div>
            <div class="card-content">
                <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                </div>
            </div>
            <div class="product-info">
                <p>$23.200</p>
                <p>5% OFF</p>
            </div>      
            <div>
            <h5 class="descripcion">SmartTv Samsung 43"</h5>
        </div>
        </article>
    </section>
</div>
   </main>
   <footer>
       <article>
        <i class="fas fa-credit-card"></i> 
           <h4>Pagá con tarjeta o en efectivo</h4>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
       </article>
       <article>
        <i class="fas fa-gift"></i>
           <h4>Envío gratis desde los $ 2.500</h4>
           <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
       </article>
       <article>
        <i class="fas fa-user-shield"></i>
           <h4>Seguridad de principio a fin</h4>
           <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
       </article>
       <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   </footer>
   </body>
</html>
 